import(edgeR)
import(ggplot2)
import(grid)
import(gridExtra)
import(gplots)
import(gtools)
import(limma)
import(locfit)
import(MASS)
import(reshape2)
import(ROCR)
import(plyr)
import(QuasiSeq)
import(scales)
import(stringr)
importFrom(qvalue, qvalue)
importFrom("grDevices", "dev.off", "jpeg", "pdf", "png")
importFrom("stats", "IQR", "coef", "fivenum", "lm", "loess",
           "model.matrix", "optimize", "predict", "preplot", "qnorm",
           "qt", "quantile", "residuals", "rnbinom", "sd",
           "smooth.spline", "var")
importFrom("utils", "data", "read.csv", "write.csv")
export(annotLODR)
export(dynRangePlot)
export(erccROC)
export(estLODR)
export(est_r_m)
export(geneExprTest)
export(initDat)
export(maSignal)
export(runDashboard)
export(saveERCCPlots)
