import(edgeR)
import(ggplot2)
import(grid)
import(gridExtra)
import(gplots)
import(gtools)
import(limma)
import(locfit)
import(MASS)
import(reshape2)
import(ROCR)
import(plyr)
import(QuasiSeq)
import(scales)
import(stringr)
importFrom(qvalue, qvalue)
export(annotLODR)
export(dynRangePlot)
export(erccROC)
export(estLODR)
export(est_r_m)
export(geneExprTest)
export(initDat)
export(maSignal)
export(multiplot)
export(runDashboard)
export(saveERCCPlots)
